#timetable
{
	display: inline-block;    
	width: 100%;
	position: relative;
	/*top: 150px;*/
	/*left: 350px;*/
}

.table-row {
	display: flex;
	flex-wrap: wrap;
	padding: 0px;
}

.table-row-days
{
	margin-top: 30px;
	font-size: 21px;
	display: flex;
	flex-wrap: wrap;
	padding: 0px;
	margin-bottom: 15px;
}

.table-column {
	text-align: center;
	flex: 11%;
	padding: 0 4px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 5px;
    border-top: solid 2px purple;
    border-bottom: solid 2px purple;
    border-left: solid 2px purple;
	border-color: purple;
}

.table-column:last-child {
	border-right: solid 2px purple;
}



#bar-graph
{
	display: none;    
	width: 100%;
	position: relative;
	top: 150px;
	height: 386px;
}

.day-bar
{
	margin-top: 5px;
	font-size: 20px;
	display: inline-block;  
	width:13%;
	position: relative;
	text-align: center;
}

.vertical-block-work
{
	margin: 0px;
	position: relative;
	background-color: purple;
	height: 50px;
	text-align: center;
	vertical-align: middle;
	line-height: 50px;
}

.vertical-block-leisure
{
	margin: 0px;
	position: relative;
	background-color: green;
	height: 50px;
	text-align: center;
	vertical-align: middle;
	line-height: 50px;
}

.day
{
	display: inline-block;  
	width:13%;
	position: relative;
	margin:0px;
	padding: 0px;
}

.ny-block
{
	margin-top: -2px;
	position: absolute;
	background-color: purple;
	height: 2px;
	width: 97%;
	text-align: center;
	vertical-align: middle;
	line-height: 2px;
}

.activities
{
	display: inline-block;    
	width: 60%;
	position: relative;
	top: 150px;
	left: 350px;
}

#timetable-b
{
	margin-left: 5%;
	padding: 0px;
	float: left;
	height: 80px;
	width: 40%;
	text-align: center;
	font-size: 50px;
	border-radius: 50px;
	position: relative;
	margin-right: 10%;
}

#bar-graph-b
{
	margin: 0px;
	padding: 0px;
	float: left;
	height: 80px;
	width: 40%;
	text-align: center;
	font-size: 50px;
	border-radius: 50px;
	position: relative;
}

button:focus
{
	outline: none;
}

@media screen and (max-width: 1380px)
{
	.activities
	{
		width: 70%;
	}

	.day-bar
	{
		font-size: 7px;
	}

	.table-column {
		text-align: center;
		flex: 11%;
		padding: 0;
		margin: 0px;
	    border: solid 1px purple;
	    font-size: 10px;
	}

	.table-column:last-child {
		border-right: solid 1px purple;
	}

	.table-row-days
	{
		font-size: 10px;
	}

	#timetable-b
	{
		font-size: 20px;
	}

	#bar-graph-b
	{
		font-size: 20px;
	}

}

@media all and (max-width: 600px) {

    .sidenav {
      position: static;
      display: flex;
      justify-content: center;
      z-index: 1;
      top: 184px;
      left: 0px;
      right: 0px;
      order: 1;
      border-left: none;
      border-top: 2px solid #444;
    }

    .activities {
      position: static;
      width: 100%;
      z-index: 1;
      order: 2;
      left: 0px;
      right: 0px;
      margin-top: 20px;
    }
}